<% include partials/header %>
<div class="container">
    
    <div class="row addOrderBtn">
        <div class="col-xs-12">
            <a href="/orders/new" type="button" class="btn btn-primary btn-lg">Add your order to the list!</a>
        </div>
    </div>
    
    <% if(orders.length != 0 && currentUser) { %>
        <div class="row orderList">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <theader>
                        <tr>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>2lb Glass ($14)</th>
                            <th>1lb Glass ($7)</th>
                            <th>1lb Plastic ($7)</th>
                            <th>Total Cost</th>
                            <th>Email</th>
                            <th>Paid</th>
                            <th>Delivered</th>
                            <th>Edit</th>
                        </tr>
                    </theader>
                    <tbody>
                        <% orders.forEach(function(order){ %>
                            <tr>
                                <td> <%= order.customer %> </td>
                                <td> <%= moment(order.date).format('MM/DD/YYYY') %> </td>
                                <td class="cTxt"> <%= order.num2lbGlass %> </td>
                                <td class="cTxt"> <%= order.num1lbGlass %> </td>
                                <td class="cTxt"> <%= order.num1lbPlastic %> </td>
                                <td> $<%= order.totalCost.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,") %> </td>
                                <td> <%= order.email %> </td>
                                <td class="cTxt">
                                    <% if(order.paid == "True") { %>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <% } else { %>
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    <% } %>
                                </td>
                                <td class="cTxt">
                                    <% if(order.delivered == "True") { %>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <% } else { %>
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    <% } %>
                                </td>
                                <td class="cTxt">
                                    <% if(order.customer == currentUser.firstName + " " + currentUser.lastName || currentUser.username === "douglas_mettenburg@yahoo.com" || currentUser.username == "peter") { %>
                                        <a href="/orders/<%=order._id%>/edit"  type="button" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>
    
</div>
<% include partials/footer %>